<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="information-circle"></ion-icon>
      Detalles del Evento
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditMode()" *ngIf="!event.completed">
        <ion-icon [name]="editMode ? 'close' : 'create'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!editMode">
    <h1>
      <ion-icon name="calendar"></ion-icon>
      {{ event?.title }}
    </h1>
    <p>
      <ion-icon name="information"></ion-icon>
      {{ event?.description }}
    </p>
    <p>
      <ion-icon name="time"></ion-icon>
      Fecha: {{ event?.date | date }}
    </p>
    <p>
      <ion-icon name="location"></ion-icon>
      Ubicación: {{ event?.location }}
    </p>
    <p>
      <ion-icon
        [name]="event?.completed ? 'checkmark-circle' : 'hourglass'"
      ></ion-icon>
      Estado: {{ event?.completed ? "Completado" : "Pendiente" }}
    </p>
  </ng-container>

  <!-- ... (el resto del contenido permanece igual) ... -->

  <ion-button
    expand="block"
    color="danger"
    (click)="deleteEvent()"
    *ngIf="!editMode && !event.completed"
  >
    <ion-icon name="trash" slot="start"></ion-icon>
    Eliminar Evento
  </ion-button>
  <ion-button
    expand="block"
    color="success"
    (click)="markAsCompleted()"
    *ngIf="!editMode && !event.completed"
  >
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    Marcar como completado
  </ion-button>
</ion-content>
