<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
      </ion-button>
      <ion-button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="goToCompletedEvents()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let event of events$ | async"
      (click)="goToEventDetails(event.id)"
    >
      <ion-label>
        <h2>{{ event.title }}</h2>
        <p>{{ event.date | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create-event">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
