<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Personalizar colores</h2>
  <ion-item>
    <ion-label>Color primario</ion-label>
    <ion-input type="color" [(ngModel)]="primaryColor"></ion-input>
  </ion-item>
  <h2>Modo oscuro</h2>
  <ion-item>
    <ion-label>Activar modo oscuro</ion-label>
    <ion-toggle
      [(ngModel)]="darkMode"
      (ionChange)="toggleDarkMode()"
    ></ion-toggle>
  </ion-item>
  <ion-button expand="block" (click)="updateColors()">
    <ion-icon name="color-palette" slot="start"></ion-icon>
    Aplicar colores
  </ion-button>
</ion-content>
